apiVersion: apps/v1
kind: Deployment
metadata:
  name: podinfo
  namespace: {{ chaosevo_target_namespace }}
  labels:
    app: podinfo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: podinfo
  template:
    metadata:
      labels:
        app: podinfo
    spec:
      containers:
        - name: podinfo
          image: ghcr.io/stefanprodan/podinfo:6.7.1
          ports:
            - {name: http, containerPort: 9898}
          readinessProbe:
            httpGet: {path: /readyz, port: http}
            periodSeconds: 2
          livenessProbe:
            httpGet: {path: /healthz, port: http}
          resources:
            requests: {cpu: 20m, memory: 32Mi}
            limits: {cpu: 200m, memory: 128Mi}
---
apiVersion: v1
kind: Service
metadata:
  name: podinfo
  namespace: {{ chaosevo_target_namespace }}
  labels:
    app: podinfo
spec:
  selector:
    app: podinfo
  ports:
    - {name: http, port: 9898, targetPort: http}
