apiVersion: v1
kind: ServiceAccount
metadata:
  name: chaosevo
  namespace: {{ chaosevo_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: chaosevo
  namespace: {{ chaosevo_target_namespace }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "delete"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list"]
  - apiGroups: ["apps"]
    resources: ["deployments/scale"]
    verbs: ["get", "patch", "update"]
{% if chaosevo_chaos_mesh %}
  - apiGroups: ["chaos-mesh.org"]
    resources: ["networkchaos", "stresschaos"]
    verbs: ["create", "get", "list", "delete"]
{% endif %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: chaosevo
  namespace: {{ chaosevo_target_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: chaosevo
subjects:
  - kind: ServiceAccount
    name: chaosevo
    namespace: {{ chaosevo_namespace }}
